<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>s</title>
    <link rel="stylesheet" href="style/test.css">
</head>

<body>
  <header>
    login
  </header>
  <form action='/doLogin' method='post'>
    用户名:<input type="text" name="username" value="" /> <br>
    密 码:<input type="text" name="password" value="" /><br>
    <input type="submit" name="" value="登录">
  </form>
</body>
</html>