
<%- include header.ejs%>
</head>
<body>
    <h1>登录页面</h1>
    <form action='/dologin' method='post'>
        用户名<input type="text" name="username" value=""><br>
        密码<input type="password" name="password""" value=""><br>
        <input type="submit" name="" value="登录">
    </form>
<%- include footer.ejs%>

